<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <h2 class="footer__title title">Contacts</h2>
      <p class="footer__descr">Want to know more or just chat? <br> You are welcome!</p>
      <div class="footer__message-wrap">
        <a href="#" class="footer__message">Send message</a>
      </div>
      <div class="footer__socials">
        <ul class="footer__socials-items">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="./assets/img/socials/linkedIn.svg" alt="linkedIn" class="footer__social-img">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="./assets/img/socials/instagramm.svg" alt="instagramm" class="footer__social-img">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="./assets/img/socials/behance.svg" alt="Behance" class="footer__social-img">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="./assets/img/socials/surface.svg" alt="Dribble" class="footer__social-img">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__socials-descr">Like me on LinkedIn <br> Instagram, Behance, Dribble</div>
    </div>
  </div>
</footer>

<script src="./assets/js/script.min.js"></script>
</body>

</html>