<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./assets/css/style.min.css">
	<title>Denis Novik</title>
</head>

<body>

	<header class="header">
		<div class="container">
			<div class="header__inner">
				<div class="header__menu-wrap">
					<nav class="header__nav">
						<ul class="header__menu">
							<li class="header__menu-item"><a href="#" class="header__menu-link header__menu-link_active">Home</a></li>
							<li class="header__menu-item"><a href="#" class="header__menu-link">About me</a></li>
							<li class="header__menu-item"><a href="#" class="header__menu-link">Skills</a></li>
							<li class="header__menu-item"><a href="#" class="header__menu-link">Portfolio</a></li>
							<li class="header__menu-item"><a href="#" class="header__menu-link">Contacts</a></li>
						</ul>
						<div class="header__langs-wrap">
							<span class="header__lang header__lang_active header__rus">ru</span>
							<span class="header__lang header__eng">eng</span>
						</div>
					</nav>
					
				</div>
				<div class="header__content-wrap">
					<div class="header__content">
						<h1 class="header__title">Denis <br> Novik</h1>
						<p class="header__subtitle">UX | UI designer <br> 24 years old, Minsk</p>
						<!-- <div class="header__langs-wrap">
							<span class="header__lang header__lang_active header__rus">ru</span>
							<span class="header__lang header__eng">eng</span>
						</div> -->
					</div>
					<div class="header__burger">
						<span class="header__line"></span>
					</div>
				</div>
				<div class="header__image-wrap">
					<img src="./assets/img/promo/promo-self.jpg" alt="Denis Novik" class="header__image">
				</div>
			</div>
		</div>
	</header>