* {
  box-sizing: border-box;
}

html {
  font-family: "Gilroy";
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.scroll-hidden {
  overflow: hidden;
}
