/* bold - gilroy */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local(""), url("../fonts/gilroy/gilroy-bold.woff2") format("woff2"),
    url("../fonts/gilroy/gilroy-bold.woff") format("woff");
}
/* medium - gilroy */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""), url("../fonts/gilroy/gilroy-medium.woff2") format("woff2"),
    url("../fonts/gilroy/gilroy-medium.woff") format("woff");
}
